.kiro
poetry.lock
__pycache__/
*.pyc
.env
.DS_Store
qdrant_storage
.logfire
.pytest_cache



#keys
ren-web-456b74d7018f.json.json

data
tests
package-lock.json
node_modules

# Local knowledge and context
claude.md
